{% block content %}

<div class="row">
    <div class="large-12 columns">
		<h1 class="text-center">Resize image with slider</h1>
	</div>
</div>

<div class="row">
    <div class="large-12 columns">
		<div id="slider" class="range-slider" data-slider>
		  <span class="range-slider-handle" role="slider" tabindex="0"></span>
		  <span class="range-slider-active-segment"></span>
		  <input type="hidden">
		</div>
	</div>
</div>

<div class="row">
    <div class="large-12 columns">
		<img class="center" id="slided" src="http://placehold.it/1000x500&text=Hello+World!">
	</div>
</div>


{% endblock %}